.image {
  width: 4rem;
  border: 4px solid #000;
  border-radius: 60%;
  margin: 10px;
}
body {
  background-color: rgb(191, 191, 235);
  display: flex;
  justify-content: center;
}
.member {
  text-align: center;
  margin: 15% 0;
}

.infomation {
  background-color: rgba(122, 122, 153, 0.781);
  padding: 2rem 5rem;
}
